<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles.css" rel="stylesheet">
    <title>MoodTracker</title>
</head>
<body>
    <div class="position: absolute">
        <div>How are you feeling today?</div>
    <div><button>Happy</button><button>Sad</button></div>
    </div>
    
</body>
</html>